<a href="https://colab.research.google.com/github/mwiewiorko/quantFinance/blob/master/input_text_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [3]:
state=['1111','0111','1111','0111','1110','0110','1101','0101','1011','0011','1110','0110','1101','0101','1100','0100','1011','0011','1010','0010','1001','0001','1100','0100','1010','0010','1001','0001','1000','0000','m0','m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','1000','0000','m0','m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','0000','m11','deaktywacja']
state_next=['1111','1111','1110','1110','1101','1101','1011','1011','0111','0111','1100','1100','1010','1010','1001','1001','0110','0110','0101','0101','0011','0011','1000','1000','0100','0100','0010','0010','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0000','0000','m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','deaktywacja','deaktywacja','deaktywacja']
prob=['0,93','0,85','0,07','0,15','0,6','0,6','0,75','0,6','0,76','0,8','0,4','0,4','0,25','0,4','0,31','0,25','0,24','0,2','0,62','0,32','0,68','0,61','0,69','0,75','0,38','0,68','0,32','0,39','0,2','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,8','0,75','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,2','0,95','1']
#words = [w.replace('[br]', '<br />') for w in words] #https://stackoverflow.com/questions/3136689/find-and-replace-string-values-in-list
prob = [p.replace(',', '.') for p in prob]
prob = [float(p) for p in prob]

In [ ]:
# dictionary of lists  
dict = {'state': state, 'state_next': state_next, 'prob': prob}  
    
df_v1 = pd.DataFrame(dict) 
df_v1

In [9]:
# Calling DataFrame constructor after zipping 
# both lists, with columns specified 
df = pd.DataFrame(list(zip(state, state_next,prob)), 
               columns =['state', 'state_next','prob']) 
df

          state   state_next  prob
0          1111         1111  0.93
1          0111         1111  0.85
2          1111         1110  0.07
3          0111         1110  0.15
4          1110         1101  0.60
5          0110         1101  0.60
6          1101         1011  0.75
7          0101         1011  0.60
8          1011         0111  0.76
9          0011         0111  0.80
10         1110         1100  0.40
11         0110         1100  0.40
12         1101         1010  0.25
13         0101         1010  0.40
14         1100         1001  0.31
15         0100         1001  0.25
16         1011         0110  0.24
17         0011         0110  0.20
18         1010         0101  0.62
19         0010         0101  0.32
20         1001         0011  0.68
21         0001         0011  0.61
22         1100         1000  0.69
23         0100         1000  0.75
24         1010         0100  0.38
25         0010         0100  0.68
26         1001         0010  0.32
27         0001         0010  0.39
28         1000         0001  0.20
29         0000         0001  0.05
30           m0         0001  0.05
31           m1         0001  0.05
32           m2         0001  0.05
33           m3         0001  0.05
34           m4         0001  0.05
35           m5         0001  0.05
36           m6         0001  0.05
37           m7         0001  0.05
38           m8         0001  0.05
39           m9         0001  0.05
40          m10         0001  0.05
41          m11         0001  0.05
42         1000         0000  0.80
43         0000         0000  0.75
44           m0           m1  0.95
45           m1           m2  0.95
46           m2           m3  0.95
47           m3           m4  0.95
48           m4           m5  0.95
49           m5           m6  0.95
50           m6           m7  0.95
51           m7           m8  0.95
52           m8           m9  0.95
53           m9          m10  0.95
54          m10          m11  0.95
55         0000  deaktywacja  0.20
56          m11  deaktywacja  0.95
57  deaktywacja  deaktywacja  1.00

In [8]:
# Try understand zip function
print(list(zip(state, state_next)))

[('1111', '1111'), ('0111', '1111'), ('1111', '1110'), ('0111', '1110'), ('1110', '1101'), ('0110', '1101'), ('1101', '1011'), ('0101', '1011'), ('1011', '0111'), ('0011', '0111'), ('1110', '1100'), ('0110', '1100'), ('1101', '1010'), ('0101', '1010'), ('1100', '1001'), ('0100', '1001'), ('1011', '0110'), ('0011', '0110'), ('1010', '0101'), ('0010', '0101'), ('1001', '0011'), ('0001', '0011'), ('1100', '1000'), ('0100', '1000'), ('1010', '0100'), ('0010', '0100'), ('1001', '0010'), ('0001', '0010'), ('1000', '0001'), ('0000', '0001'), ('m0', '0001'), ('m1', '0001'), ('m2', '0001'), ('m3', '0001'), ('m4', '0001'), ('m5', '0001'), ('m6', '0001'), ('m7', '0001'), ('m8', '0001'), ('m9', '0001'), ('m10', '0001'), ('m11', '0001'), ('1000', '0000'), ('0000', '0000'), ('m0', 'm1'), ('m1', 'm2'), ('m2', 'm3'), ('m3', 'm4'), ('m4', 'm5'), ('m5', 'm6'), ('m6', 'm7'), ('m7', 'm8'), ('m8', 'm9'), ('m9', 'm10'), ('m10', 'm11'), ('0000', 'deaktywacja'), ('m11', 'deaktywacja'), ('deaktywacja', 'deaktywacja')]