<a href="https://colab.research.google.com/github/mwiewiorko/quantFinance/blob/master/input_text_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
state=['1111','0111','1111','0111','1110','0110','1101','0101','1011','0011','1110','0110','1101','0101','1100','0100','1011','0011','1010','0010','1001','0001','1100','0100','1010','0010','1001','0001','1000','0000','m0','m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','1000','0000','m0','m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','0000','m11','deaktywacja']
state_next=['1111','1111','1110','1110','1101','1101','1011','1011','0111','0111','1100','1100','1010','1010','1001','1001','0110','0110','0101','0101','0011','0011','1000','1000','0100','0100','0010','0010','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0001','0000','0000','m1','m2','m3','m4','m5','m6','m7','m8','m9','m10','m11','deaktywacja','deaktywacja','deaktywacja']
prob=['0,93','0,85','0,07','0,15','0,6','0,6','0,75','0,6','0,76','0,8','0,4','0,4','0,25','0,4','0,31','0,25','0,24','0,2','0,62','0,32','0,68','0,61','0,69','0,75','0,38','0,68','0,32','0,39','0,2','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,05','0,8','0,75','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,95','0,2','0,95','1']
#words = [w.replace('[br]', '<br />') for w in words] #https://stackoverflow.com/questions/3136689/find-and-replace-string-values-in-list
prob = [p.replace(',', '.') for p in prob]
prob = [float(p) for p in prob]

In [ ]:
# dictionary of lists  
dict = {'state': state, 'state_next': state_next, 'prob': prob}  
    
df_v1 = pd.DataFrame(dict) 
df_v1

In [ ]:
# Calling DataFrame constructor after zipping 
# both lists, with columns specified 
df = pd.DataFrame(list(zip(state, state_next,prob)), 
               columns =['state', 'state_next','prob']) 
df

In [5]:
# Try understand zip function
print(list(zip(state, state_next)))

[('1111', '1111'), ('0111', '1111'), ('1111', '1110'), ('0111', '1110'), ('1110', '1101'), ('0110', '1101'), ('1101', '1011'), ('0101', '1011'), ('1011', '0111'), ('0011', '0111'), ('1110', '1100'), ('0110', '1100'), ('1101', '1010'), ('0101', '1010'), ('1100', '1001'), ('0100', '1001'), ('1011', '0110'), ('0011', '0110'), ('1010', '0101'), ('0010', '0101'), ('1001', '0011'), ('0001', '0011'), ('1100', '1000'), ('0100', '1000'), ('1010', '0100'), ('0010', '0100'), ('1001', '0010'), ('0001', '0010'), ('1000', '0001'), ('0000', '0001'), ('m0', '0001'), ('m1', '0001'), ('m2', '0001'), ('m3', '0001'), ('m4', '0001'), ('m5', '0001'), ('m6', '0001'), ('m7', '0001'), ('m8', '0001'), ('m9', '0001'), ('m10', '0001'), ('m11', '0001'), ('1000', '0000'), ('0000', '0000'), ('m0', 'm1'), ('m1', 'm2'), ('m2', 'm3'), ('m3', 'm4'), ('m4', 'm5'), ('m5', 'm6'), ('m6', 'm7'), ('m7', 'm8'), ('m8', 'm9'), ('m9', 'm10'), ('m10', 'm11'), ('0000', 'deaktywacja'), ('m11', 'deaktywacja'), ('deaktywacja', 'deaktywacja')]

In [33]:
multyply=pd.merge(df,df,how="inner",left_on="state",right_on="state_next", suffixes=('_x', '_y') )
multyply['prob']=multyply['prob_x']*multyply['prob_y']
multyply=multyply.groupby(['state_y','state_next_x']).agg({'prob': 'sum'})
multyply=multyply.rename(columns={"state_y": "state", "state_next_x": "state_next"})
multyply

                        prob
state_y state_next_x
0000    0000          0.5625
        0001          0.0375
        0010          0.0195
        0011          0.0305
        deaktywacja   0.3500
...                      ...
m8      m10           0.9025
m9      0001          0.0475
        0010          0.0195
        0011          0.0305
        m11           0.9025

[114 rows x 1 columns]

In [32]:
df1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df1)
df1.rename(columns={"A": "a", "B": "c"})

   A  B
0  1  4
1  2  5
2  3  6

   a  c
0  1  4
1  2  5
2  3  6